<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Demo Maven project with Jenkins created!</h1>
<h2>Is this change visible?</h2>
<h3>YES!! Now we just need to deploy .jar to another ec2 instance :)</h3>
<h4>Please make this change go through..</h4>
<h1>CHANGE</h1>
<form>
    <label>Enter something</label>
    <input type="text" placeholder="enter shizzle">
    <input type="submit" value="PRESS THIS">
</form>
<h1>Visible change</h1>
</body>
</html>